.header {

    padding: 20px;

    border-bottom: 1px solid black;
}
.header h1 {
    display: inline-block;
}
.header ul {
    display: inline-block;
}
.header ul li {
    display: inline-block;
}
.header ul.right-side {
    float: right;
}
.content {
    padding: 20px;
}


.content .filters,
.content .results,
.content .saved-sets {
    border: 1px solid black;
    display: inline-block;
    height: 500px;
    padding: 20px;
}

.content .filters {
    width: 150px;
}

.content .results {
    width: 600px;
}

.content .filters-alt {
    border: 1px solid black;
    padding: 20px;
    height: 200px;
    width: 95%;
}

.content .results-alt {
    border: 1px solid black;
    padding: 20px;
    height: 500px;
    width: 95%;
}

.content .vis-list .data-selected {
    border: 1px solid black;
    display: inline-block;
    height: 500px;
    padding: 10px;
    vertical-align: top;
    width: 20%;
}
.content .vis-list ul {
    display: inline-block;
    width: 75%;
}

.content .vis-item {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.content .vis-item img {
    /*border: 1px solid black;*/
    position: absolute;
    /*padding: 10px;*/

}
.content .vis-item .vis-description {
    display: block;
    margin-left: 130px;
    /*border: 1px solid black;*/
}

.content .vis-item .vis-description p {
    min-height: 85px;
}

.content .vis {
    display: inline-block;
}
.content .vis h5 {
    position: absolute;
    margin-top: -30px;
    margin-left: 10px;
}